.qna {
  padding: var(--spacing-40) var(--spacing-24);
  line-height: 150%;
  font-family: Pretendard;
  display: flex;
  flex-flow: nowrap column;

  p {
    font-size: 16px;
  }

  @media (max-width: 599px) {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (max-width: 1135px) {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (width >= 600px) {
    padding: var(--spacing-56) var(--spacing-32);
  }

  @media (width >= 1136px) {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--spacing-64) var(--spacing-64);
  }

  .qna-question {
    font-size: 21.328px;
    margin-block: 0px var(--spacing-36);

    @media (width >= 600px) {
      font-size: 28.4304px;
    }
  }

  .qna-question-1 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      inline-size: 100%;

      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        cursor: pointer;
        padding: var(--spacing-16) var(--spacing-20);

        .qna-1 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          inline-size: var(--spacing-32);
          block-size: var(--spacing-32);
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          z-index: -1;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: static;
        }

        .qna-btn-1 {
          transform: translate(100%, 50%);
        }

        .qna-btn-2 {
          transform: translate(5%, 70%) rotate(90deg);
        }
      }

      .qna-pay-2 {
        padding: var(--spacing-24);

        .qna-3 {
          margin-block: 0px;
        }

        .qna-card {
          line-height: 160%;
          margin-block-end: var(--spacing-24);
        }

        .qna-4 {
          margin-block: var(--spacing-24);
        }

        .qna-5 {
          font-weight: 600;
          margin-block: 0px;
          padding: var(--spacing-4);
          border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
        }
      }
    }
  }

  .qna-question-2 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        list-style: none;
        padding: var(--spacing-16) var(--spacing-20);

        .qna-2 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          inline-size: var(--spacing-32);
          block-size: var(--spacing-32);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
          z-index: -1;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: static;
        }

        .qna-btn-1 {
          transform: translate(100%, 50%);
        }

        .qna-btn-2 {
          transform: translate(5%, 70%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: var(--spacing-24);

      .qna-3 {
        margin-block: 0px;
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        font-weight: 600;
        margin-block: 0px;
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
      }
    }
  }

  .qna-question-3 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        list-style: none;
        padding: var(--spacing-16) var(--spacing-20);

        .qna-6 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          inline-size: var(--spacing-32);
          block-size: var(--spacing-32);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
          z-index: -1;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: static;
        }

        .qna-btn-1 {
          transform: translate(100%, 50%);
        }

        .qna-btn-2 {
          transform: translate(5%, 70%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: 24px;

      .qna-3 {
        margin-block: 0px;
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        font-weight: 600;
        margin-block: 0px;
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
      }
    }
  }

  .qna-question-4 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        list-style: none;
        padding: var(--spacing-16) var(--spacing-20);

        .qna-7 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          inline-size: var(--spacing-32);
          block-size: var(--spacing-32);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
          z-index: -1;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: static;
        }

        .qna-btn-1 {
          transform: translate(100%, 50%);
        }

        .qna-btn-2 {
          transform: translate(5%, 70%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: var(--spacing-24);

      .qna-3 {
        margin-block: 0px;
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        font-weight: 600;
        margin-block: 0px;
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
      }
    }
  }

  .qna-question-5 {
    font-size: var(--spacing-16);
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-transparent);

    .qna-pay {
      &[open] .qna-btn-2 {
        opacity: 0;
      }

      .qna-pay-1 {
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        cursor: pointer;
        padding: var(--spacing-16) var(--spacing-20);

        .qna-8 {
          font-weight: 600;
          min-block-size: var(--spacing-24);
          margin-inline-end: var(--spacing-36);
        }

        .qna-button-1 {
          inline-size: var(--spacing-32);
          block-size: var(--spacing-32);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
          z-index: -1;
        }

        .qna-btn-1,
        .qna-btn-2 {
          position: static;
        }

        .qna-btn-1 {
          transform: translate(100%, 50%);
        }

        .qna-btn-2 {
          transform: translate(5%, 70%) rotate(90deg);
        }
      }
    }

    .qna-pay-2 {
      padding: var(--spacing-24);

      .qna-3 {
        margin-block: 0px;
      }

      .qna-card {
        line-height: 160%;
        margin-block-end: var(--spacing-24);
      }

      .qna-4 {
        margin-block: var(--spacing-24);
      }

      .qna-5 {
        font-weight: 600;
        margin-block: 0px;
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--contents-contentTertiary, #a6a6a6);
      }
    }
  }
}
