section {
  padding-block: var(--spacing-40);
  padding-inline: var(--spacing-24);
}

@media (width >= 600px) {
  section {
    padding-block: var(--spacing-56);
    padding-inline: var(--spacing-32);
  }
}

@media (width >= 1136px) {
  section {
    padding-block: var(--spacing-64);
    padding-inline: var(--spacing-64);
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  section h2 {
    font-size: 50.517px;
    font-weight: 700;
    line-height: 140%;
    flex: 1;
    align-self: flex-start;
    margin-block-start: 318.743px;
  }
  .signup-content {
    flex: 1;
  }
}

h2 {
  color: var(--color-black);
  font-size: 28.43px;
  font-weight: 700;
  margin-block-start: 0px;
  line-height: 140%;
}

@media (width >= 600px) {
  h2 {
    font-size: 37.897px;
  }
}

div.signup-subtitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-block-end: calc(var(--spacing-36) - 21.326px);
}

div.signup-subtitle p {
  color: var(--color-primary);
  font-size: 21.328px;
  font-weight: 600;
  line-height: 150%;
}

div.signup-subtitle button {
  background: transparent;
  block-size: 100%;
  font-size: var(--spacing-16);
  font-weight: 600;
  line-height: 150%;
  border: none;
  padding: var(--spacing-4);
  border-bottom: 1px solid var(--content-tertiary);
}

div.signup-subtitle button a {
  color: var(--color-primary);
  text-decoration: none;
}

ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--spacing-16);
}

ul .signup-name {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-16);
}

ul input {
  background: var(--color-tertiary);
  border: 1px solid var(--border-transparent2);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  inline-size: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-inline: var(--spacing-12);
}

input.signup-email:focus:not(:placeholder-shown),
input.signup-email:valid:not(:placeholder-shown) {
  background: var(--positive-transparent);
  border: 2px solid var(--color-positive);
  outline: none;
}

input.signup-pwd:focus:not(:placeholder-shown),
input.signup-pwd:invalid:not(:placeholder-shown) {
  background: var(--negative-transparent);
  border: 2px solid var(--color-negative);
  outline: none;
}

.signup-pwd-icon {
  display: none;
  position: absolute;
  top: 13px;
  right: 12px;
  pointer-events: none;
}

input.signup-pwd:invalid:not(:placeholder-shown) + .signup-pwd-icon {
  display: block;
}

input.signup-pwd:invalid:not(:placeholder-shown) ~ .error-message {
  display: block;
}

div .error-message {
  display: none;
  margin: 0;
  color: var(--color-negative);
  font-size: 12.003px;
}

input.signup-pwd:invalid:not(:placeholder-shown) + .error-message {
  display: block;
}

p {
  margin-block: var(--spacing-36);
  font-size: 12.003px;
  font-weight: 400px;
  line-height: 160%;
}

.signup-submit {
  display: flex;
  flex-flow: row nowrap;
  inline-size: max-content;
  block-size: var(--spacing-56);
  align-items: center;
  gap: var(--spacing-36);
}

.signup-submit a {
  text-decoration: none;
}
.signup-submit .sign a {
  color: var(--color-secondary);
}
.signup-submit .login a {
  color: var(--color-primary);
}

.signup-submit .sign {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: var(--spacing-16) var(--spacing-24);
  block-size: 100%;
  border: none;
  cursor: pointer;
}

.signup-submit .signup-login {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--spacing-16);
}

.signup-submit .signup-login .login-text {
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%;
}

.signup-submit .signup-login .login {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--content-tertiary);
  cursor: pointer;
}
