/* CSS 스타일을 작성해 주세요. */
@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
}

:root {
  /* color */
  --color-white: #fff;
  --color-gray-100: #f5f5f5;
  --color-gray-300: #898989;
  --color-gray-500: #6b6b6b;
  --color-black: #000;
  --color-green-500: #048848;
  --color-yellow-500: #ffc043;
  --color-red-500: #e11900;
  --color-blue-500: #276ef1;

  /* Foundation Semantic */
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  --color-tertiary: var(--color-gray-100);

  --color-accent: var(--color-blue-500);

  --color-negative: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-positive: var(--color-green-500);

  /* Content Colors */
  --content-primary: var(--color-black);
  --content-secondary: var(--color-gray-500);
  --content-tertiary: var(--color-gray-300);
  --content-contentSecondary: var(--color-black);

  --content-inverse-primary: var(--color-white);
  --content-inverse-secondary: var(--color-gray-300);

  /* Border Colors */
  --border-opaque: var(--color-gray-400);
  --border-transparent: rgba(189, 189, 189, 0.3);

  /* Status Transparent */
  --border-transparent2: rgba(137, 137, 137, 0.3);
  --positive-transparent: rgba(10, 138, 67, 0.1);
  --negative-transparent: rgba(225, 25, 0, 0.1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@layer components {
  .input-base {
    @apply bg-[var(--color-tertiary)]
    border
    border-[var(--border-transparent2)]
    text-[16px]
    font-normal
    leading-[160%]
    w-full
    h-[50px]
    box-border
    px-[var(--spacing-12)];
  }

  /* 이메일 성공 상태 */
  input[type='email']:focus:not(:placeholder-shown),
  input[type='email']:valid:not(:placeholder-shown) {
    @apply bg-[var(--positive-transparent)]
    border-2
    border-[var(--color-positive)]
    outline-none;
  }

  /* 비밀번호 에러 상태 */
  input[type='password']:focus:not(:placeholder-shown),
  input[type='password']:invalid:not(:placeholder-shown) {
    @apply bg-[var(--negative-transparent)]
    border-2
    border-[var(--color-negative)]
    outline-none;
  }

  /* 아이콘 표시 조건 */
  input[type='password']:invalid:not(:placeholder-shown) + .signup-pwd-icon {
    @apply block;
  }

  .error-message {
    @apply hidden text-[12px] text-[var(--color-negative)] mt-1;
  }

  /* 에러 메시지 표시 */
  input.signup-pwd:not(:placeholder-shown):invalid ~ .error-message {
    @apply block;
  }
}
