/* CSS 스타일을 작성해 주세요. */
@import 'tailwindcss';

.input-base {
  @apply bg-[var(--color-tertiary)]
    border
    border-[var(--border-transparent2)]
    text-[16px]
    font-normal
    leading-[160%]
    w-full
    h-[50px]
    box-border
    px-[var(--spacing-12)];
}

/* 이메일 성공 상태 */
input[type='email']:focus:not(:placeholder-shown),
input[type='email']:valid:not(:placeholder-shown) {
  @apply bg-[var(--positive-transparent)]
    border-2
    border-[var(--color-positive)]
    outline-none;
}

/* 비밀번호 에러 상태 */
input[type='password']:focus:not(:placeholder-shown),
input[type='password']:invalid:not(:placeholder-shown) {
  @apply bg-[var(--negative-transparent)]
    border-2
    border-[var(--color-negative)]
    outline-none;
}

/* 아이콘 표시 조건 */
input[type='password']:invalid:not(:placeholder-shown) + .signup-pwd-icon {
  @apply block;
}

.error-message {
  @apply hidden text-[12px] text-[var(--color-negative)] mt-1;
}

/* 에러 메시지 표시 */
input.signup-pwd:not(:placeholder-shown):invalid ~ .error-message {
  @apply block;
}
